.footer__subscribe {
    background: center/cover url("../img/bg-shops.png") no-repeat;
    padding: 100px 0 120px 0;
    &-body {
        @extend %grid-body;
    }
    &-text {
        @include font($text-light-color, 21px, normal);
        line-height: 140%;
    }
    &-heading {
        padding: 15px 0 60px 0;
        font-family: Noto serif;
        line-height: 41px;
        @include font($text-light-color, 30px, bold);
    }
    &-info {
        display: flex;
        align-items: center;
        gap: 80px;
    }
    &-advantages {
        @include font($text-light-color, 18px, normal);
        line-height: 140%;
        width: 245px;
    }
    &-item {
        margin-bottom: 15px;
        position: relative;
        &::before {
            content: url(../img/top-footer-list.svg);
            position: absolute;
            top: 2px;
            left: -37px;
        }
    }
    &-form {
        width: 418px;
        padding: 20px;
        background-color: $text-light-color;
        outline-offset: 15px;
        outline: 1px solid $text-light-color;
    }
    &-input {
        width: 200px;
        @include btn($text-light-color, 15px, 20px);
        @include font($text-dark-color, 14px, 500);
        outline: 1px solid rgba(51, 51, 51, 0.5);
        text-align: left;
        margin-right: 15px;
        &::placeholder {
            @include font(rgba(51, 51, 51, 0.5), 14px, 500);
        }
    }
    &-btn {
        width: 159px;
        @include btn();
        @include font($text-light-color, 14px, 500);
    }
}
