@import "null-style";
@import "font";
@import "vars";
@import "mixins";
@import "templates";
@import "header";
@import "main";
@import "footer";

//font-family: 'Noto Serif', serif;
//font-weight: bold;
* {
    font-family: "Gilroy", "Sans Serif";
}
.wrapper {
    display: grid;
    grid-template: minmax(111px, auto) 1fr minmax(872px, auto) / 1fr;
}
.inner-wrapper {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
}
.container {
    max-width: 1130px;
    margin: 0 auto;
}
