@media (max-width: 1170px) {
    .main__label {
        &-img:nth-child(2) {
            display: none;
        }
    }
}
@media (max-width: 975px) {
    .main__label {
        &-img:nth-child(3) {
            display: none;
        }
    }
}
@media (max-width: 780px) {
    .main__label {
        &-img:nth-child(4) {
            display: none;
        }
    }
}
@media (max-width: 600px) {
    .main__label {
        background: linear-gradient(to top, #444444, #363738);
        &__background {
            background-size: 250%;
        }
        &-separator,
        &-labels {
            display: none;
        }
        &-btn {
            margin: 50 0 120px 0;
        }
        &-heading {
            text-align: center;
        }
    }
}
